# Node.js
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Diretórios específicos do sistema
.DS_Store
Thumbs.db

# Arquivos de configuração específicos do ambiente
.env
.env.local

# Arquivos do Electron (para builds)
dist/
build/
*.dmg
*.app
*.exe
*.tar.gz

# Outros arquivos temporários
.vscode/
.idea/
*.log
.project
.settings/

# Terraform state
terraform.tfstate
*.tfstate.*
terraform.tfstate.backup

# Terraform directory
.terraform/

# Crash logs
crash.log

# CLI config
.terraform.lock.hcl
